{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

<cart-items class="c-model__content">


    {%- for line_item in cart.items -%}
        {% assign gift_product = false %}

        {%- liquid
           assign custom_product = false
           assign has_custom = false
            for property in line_item.properties
                case property.first
                    when "font"
                        assign custom_product = true
                    when "customize_font"
                        assign has_custom = true
                    else
                        
                endcase
            endfor

        -%}
        <div class="c-cart__item  js-cart-item {% if custom_product %} custom-product {% endif %}">

            <div class="cart-product-image">
                <img src="{{line_item.image.src | img_url: 'medium'}}" />
                
                <div class="item-qty">
                    {{line_item.quantity}}
                </div>
            </div>
            <div class="cart-product-content">
                <div>
                    <div class="c-cart__item-description">
                        <h4 class="">
                            {{ line_item.product.title }}
                        </h4>
                    </div>
                   
                    {%- if line_item.product.has_only_default_variant == false or line_item.properties.size != 0 or line_item.selling_plan_allocation != nil -%}
                        <dl>
                        {%- if line_item.product.has_only_default_variant == false -%}
                            {%- for option in line_item.options_with_values -%}
                            <div class="product-option">
                                <dt class="option-label">{{ option.name }}: </dt>
                                <dd>{{ option.value }}</dd>
                            </div>
                            {%- endfor -%}
                        {%- endif -%}
                        {% if has_custom %}
                            <div class="contain_custom">
                                <span>Personalized <strong>+${{ settings.engraving_price }}</strong></span>
                            </div>
                        {% endif %}
                        {%- for property in line_item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                            {% if  property.first == "product_variant" %}
                                {% assign gift_product = true %}
                            {% endif %}
                            <div class="product-option 
                                {% if property.first == 'customize_font' %} custom-product{% endif %} 
                                {% if property.first == 'customize_font' or property.first == 'customize_letter'%} hide-option{% endif %}
                            " 
                                {% if property.first == "product_variant" %} hidden{% endif %}
                                >
                                <dt>
                                    {% case property.first %}
                                        {% when "customize_font", "font" %}
                                            Font: 
                                        {% when "customize_letter", "letter" %}
                                            Letter: 
                                        {% when "product_title" %}
                                            Product: 
                                        {% else %}
                                            {{property.first}}:
                                    {% endcase %}
                                </dt>
                                <dd {% if property.first == "product_variant" %} class="p_variant_id"{% endif %} 
                                    {% case property.first %}
                                        {% when "customize_font", "font" %}
                                            class="font_value"
                                        {% when "customize_letter", "letter" %}
                                            class="letter_value"
                                        {% when "product_title" %}
                                            class="product_title": 
                                        {% else %}
                                            
                                    {% endcase %}
                                >
                                {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" class="link" target="_blank">
                                    {{ property.last | split: '/' | last }}
                                    </a>
                                {%- else -%}
                                    {{ property.last }}
                                {%- endif -%}
                                </dd>
                            </div>
                            {%- endif -%}
                        {%- endfor -%}
                        </dl>
    
                        <p class="product-option">{{ line_item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%} 

                </div>
                <div class="c-cart__item-functions {% if gift_product == true %} gift_card {% endif %}">

                    {% comment %} {% render 'product_price',
                        product: line_item.product,
                        show_inc_vat: false,
                        font_size: 'zeta',
                        use_variant: true

                    %} {% endcomment %}
                    {% assign compare_at_price = line_item.variant.compare_at_price %}
                    {% assign price = line_item.price %}
                    {% assign assign compare_at_price_money = compare_at_price | money  %}
                    {% assign assign money_price = price | money %}
                    
                    <p class="c-price">
                        {% if compare_at_price > price %}
                            <s class="c-price__compare">
                                {{ compare_at_price_money }}
                            </s>

                            {{ money_price }}

                        {% else %}
                            {{ money_price }}
                        {% endif %}
                    </p>
                    
                    {%- render 'cart_quantity', qty: line_item.quantity, id: line_item.id -%}
                    <a style="display:none;"
                        class="c-cart__item-remove  js-remove-item"
                        href="/cart/change?id={{ line_item.id }}&quantity=0"
                        data-id="{{ line_item.id }}"
                    >
                        Remove
                    </a>
                </div>
            </div>

            <!-- Product details -->
            

        </div>
    {%- endfor -%}


</cart-items>