{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

{%- capture tags_for_url -%}
    {%- for tag in current_tags -%}
        {{- tag -}}{%- unless forloop.last %}+{% endunless -%}
    {%- endfor -%}
{%- endcapture -%}

{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}



<!-- A recursive loop to catch and filter out the different tag categories -->
{%- for tag in collection.all_tags -%}
    {%- capture cat -%} 
        {{ cat }}
        {%- capture temp_cat -%}
            {%- if tag contains '_' -%}
                {{ tag | split: '_' | first }}
            {%- endif -%}
        {%- endcapture -%}

        {%- unless cat contains temp_cat -%}
            {%- if tag contains '_' -%}
                {{ tag | split: '_' | first }}
            {%- endif -%}
            {%- unless forloop.last %}+{%- endunless -%}
        {%- endunless -%}

    {%- endcapture -%}
{%- endfor -%}

<!-- clean up array -->
{% assign cat = cat | strip_newlines | strip %}

<!-- List of tags you wish to hide -->
{%- assign exclusion_list = settings.excluded_tags | replace: ' ', '' | split: ',' -%}

<!-- Remove Excluded Tags-->
{%- for excluded_item in exclusion_list -%}
    {%- if cat contains excluded_item -%}
        {%- capture excluded_item_plus -%}{{ excluded_item }}+{%- endcapture -%}
        {%- assign cat = cat | replace: excluded_item_plus , '' -%}
    {%- endif -%}
{%- endfor -%}


<!-- create array of tag categories -->
{% assign cat_array = cat | split: '+' %}

<collection-filters class="c-collection__filters">
    <header class="c-collection__filters-heading" data-mq-hide="desk">

        Refine By

        <button
            class="c-nav__close  js-filter-close"
            type="button"
            aria-label="Close mobile filters"
            aria-controls="navigation"
            data-title="false"
        >
            <svg 
                class="c-ico" 
                data-type="user"
            >
                <use xlink:href="#icon-close"></use>
            </svg>
            <span class="sr-only">Close mobile filters</span>
        </button>
    </header>

    <div class="c-collection__filter  js-accordion">

        <div class="c-collection__filter-heading  js-accordion-trigger  is-open" data-mq-hide="desk">
            Sort By
        </div>
    
        <ul class="c-collection__filter-dropdown  c-collection__filter-dropdown--column" data-mq-hide="desk">
            {%- for option in collection.sort_options -%}
    
                <li class="c-collection__filter-item  c-collection__filter-item--links{% if option.value == sort_by %}  is-selected{% endif %}">
                    <a 
                        class="c-collection__filter-link  js-filter-tag"
                        href="{{ collection.url }}/{{ tags_for_url }}?sort_by={{ option.value | escape }}"
                    >
                        {{ option.name | escape }}
                    </a>
                </li>
    
            {%- endfor -%}
        </ul>
    </div>

    <div class="c-collection__filter-heading  js-accordion-trigger  is-open" data-mq-hide="desk">
        Filter By
    </div>

    <!-- loop through tag categories -->  
    {% for item in cat_array %}
        <!-- ignore if tag category is empty -->  
        {% unless item == '' %}
            <div class="c-collection__filter  js-accordion">
                <div class="c-collection__filter-cat-heading  js-accordion-trigger  is-open">
                    {{ item }}
                </div>

                <ul class="c-collection__filter-dropdown  js-filter-tags">
                    <!-- loop through collection tags -->  
                    {% for tag in collection.all_tags %}
                        {% if tag contains item %}
                        <!-- if tag contains the category title -->
                            <li class="c-collection__filter-item{% if current_tags contains tag %}  is-selected{% endif %}">
                                <!-- strip out tag category prefix and add/remove link for tag filtering -->
                                {% if current_tags contains tag %}
                                    {{ tag 
                                        | remove: item 
                                        | remove: '_' 
                                        | replace: '-', ' '

                                        | link_to_remove_tag: tag 
                                        | replace: ' title', 'class="c-collection__filter-link  js-filter-tag  " title' 
                                    }}
                                {% else %}
                                    {{ tag 
                                        | remove: item 
                                        | remove: '_' 
                                        | replace: '-', ' '
                                        | link_to_add_tag: tag 
                                        | replace: ' title', 'class="c-collection__filter-link  js-filter-tag" title' 
                                    }}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endunless %}
    {% endfor %}

    {% if current_tags %}
        <footer class="c-collection__footer">
            {% capture clear_all %}{{ 'sections.collection_template.clear_all' | t }}{% endcapture %}
    
            {%- render 'object_button',
                type: 'submit'
                theme: 'secondary',
                text: clear_all,
                class: 'c-collection__filter-clear  c-button--thin',
                attributes: '',
                href: collection.url
            -%}
        </footer>
    {% endif %}
</collection-filters>