{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

{% comment %}
    Renders form checkbox component
    Accepts:
    - name: {String} Input name (optional)
    - value: {'primary'} Input value (optional)
    - label: {String} Label text (optional)
    - attributes: {String} Additional attributes (optional)
    - error: {String} Error message (optional)

    Usage:
    {%- render 'object_checkbox'
    ,   name: '$consent'
    ,   value: 'email'
    ,   attributes: 'required'
    ,   label: 'I agree to Propfiy Terms & Conditions'
    -%}
 {% endcomment %}

<label class="c-checkbox" {%- if error -%}data-error="{{ error | capitalize }}"{%- endif -%}>
    <input class="c-checkbox__input" name="{{ name }}" value="{{ value }}" {{ attributes }} type="checkbox" />

    <span class="c-checkbox__box">
        <svg aria-hidden="true" focusable="false"><use xlink:href="#icon-check"></use></svg>
    </span>

    <span class="c-checkbox__text">{{ label }}</span>
</label>
