{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

<div class="product_mobile_action">
    <div class="c-image_slider-title">
        <h4> See In Action </h4>
    </div>
    <div class="mb-slider">
        <div  class="c-carousel__slider  js-carousel" data-settings="setGallerySize watchCSs" {{ carousel_mq | prepend: 'data-carousel-mq="' | append: '"' }} >

            {%- if section.blocks.size > 0 -%}
                {%- for block in section.blocks -%}
                    {%- if block.type == 'slider_video' -%}
                        
                        {%- if block.settings.video_url != blank-%}
                            {%- liquid
                                assign img_class = ""
                                assign video_src = block.settings.video_src | default: block.settings.video_url
                            -%}
                            <div class="c-image_slider-item c-carousel__slide" data-video="{{block.id}}">
                                <iframe frameborder="0"
                                 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                 allowfullscreen="allowfullscreen" 
                                 src="{{video_src}}?color=white&amp;controls=1&amp;enablejsapi=1&amp;modestbranding=1&amp;mute=1&amp;playsinline=1&amp;rel=0&amp;autoplay=1" 
                                 >
                                </iframe>
                              
                            </div>
                        {%- endif -%}
                    {%- else -%}
                        {% if block.type == 'slider_image'%}
                            {% if block.settings.image != blank %}
                                <div class="c-image_slider-item c-carousel__slide">
                                    {%- render 'object_image' with block.settings.image,
                                        mobile_image: block.settings.image,
                                        mobile_ratio: "360/480"
                                        class: 'c-carousel__img  o-ar  o-ar--square',
                                        img_class: "o-ar__item"
                                        width: "360",
                                        height: "480"
                                    -%}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    
                {%- endfor -%}
            {%- endif -%}
        </div>
        <nav class="c-image_slider__carousel c-carousel__nav  c-carousel__nav--overlay">
            <button
                class="c-carousel__arrow  c-carousel__arrow--prev  js-carousel-arrow"
                data-direction="prev"
                aria-label="Previous"
            >
                {% render 'object_icon', 
                    icon: 'chevron-left',
                    class: "",
                    %}
            </button>
            <button
                class="c-carousel__arrow  c-carousel__arrow--next  js-carousel-arrow"
                data-direction="next"
                aria-label="Next"
            >
                {% render 'object_icon', 
                    icon: 'chevron-right'
                    class: "",
                %}
            </button>
        </nav>
    
        <nav class="c-carousel__pager  js-carousel-pager">
            {% for i in (1..3) %}
                <button
                    class="c-carousel__pager-status"
                    data-slide="{{ forloop.index0 }}"
                    aria-label="Page {{ forloop.index0 }}"
                    {%- if forloop.index0 == 0 -%}aria-current="step"{%- endif -%}
                ></button>
            {% endfor %}
        </nav><!-- /c-carousel__pager -->
    </div>
    
</div>
