{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

{% schema %}
{
    "name": "Password",
    "class": "o-row",
    "tag": "article",
    "templates": [
        "password"
    ],
    "settings": []
}
{% endschema %}

<header class="c-header">
    <div class="c-header__inner  c-header__inner--password  o-container">
        <a href="{{ routes.root_url }}" class="c-header__brand  js-brand">
            <img
                src="{{ settings.logo | image_url }}"
                alt="{{ settings.logo_alt }}"
                loading="eager"
                width="{{ settings.logo.width }}"
                height="{{ settings.logo.height }}"
            />
            <span class="sr-only">Home</span>
        </a>
        
        <button
            class="o-button  o-button--secondary  o-button--small  js-model-trigger"
            data-type="storefront"
        >
             {% render 'object_icon',
                icon: "padlock",
                class: "o-icon--social"
            %}
            {{ 'general.password_page.login_password_button' | t }}
        </button>
    </div>
</header>

