{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY GITHUB.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Github is used to create an automated theme deployment pipeline for Shopify,
//    it is used to provide version control, theme testing and reliable deployment environments.
//
//    If you need to modify this file, please contact Juno eCommerce.
{%- endcomment -%}

{% schema %}
{
    "name": "Post Content",
    "tag": "section",
    "class": "post-content",
    "templates": [
        "article"
    ],
    "settings": [
        {
            "type": "header",
            "content": "Page Header"
        },
        {
            "type": "select",
            "id": "spacing_desktop",
            "label": "Desktop Spacing",
            "info": "Adjust spacing below for desktop",
            "options": [
                {
                    "value": "0",
                    "label": "0px"
                },
                {
                    "value": "8",
                    "label": "8px"
                },
                {
                    "value": "16",
                    "label": "16px"
                },
                {
                    "value": "24",
                    "label": "24px"
                },
                {
                    "value": "32",
                    "label": "32px"
                },
                {
                    "value": "48",
                    "label": "48px"
                },
                {
                    "value": "56",
                    "label": "56px"
                },
                {
                    "value": "64",
                    "label": "64px"
                },
                {
                    "value": "72",
                    "label": "72px"
                },
                {
                    "value": "80",
                    "label": "80px"
                },
                {
                    "value": "96",
                    "label": "96px"
                }
            ],
            "default": "56"
        },
        {
            "type": "select",
            "id": "spacing_mobile",
            "label": "Mobile Spacing",
            "info": "Adjust spacing below for mobile",
            "options": [
                {
                    "value": "0",
                    "label": "0px"
                },
                {
                    "value": "8",
                    "label": "8px"
                },
                {
                    "value": "16",
                    "label": "16px"
                },
                {
                    "value": "24",
                    "label": "24px"
                },
                {
                    "value": "32",
                    "label": "32px"
                },
                {
                    "value": "48",
                    "label": "48px"
                },
                {
                    "value": "56",
                    "label": "56px"
                },
                {
                    "value": "64",
                    "label": "64px"
                },
                {
                    "value": "72",
                    "label": "72px"
                },
                {
                    "value": "80",
                    "label": "80px"
                },
                {
                    "value": "96",
                    "label": "96px"
                }
            ],
            "default": "32"
        },
        {
            "type": "radio",
            "id": "style",
            "label": "Style",
            "options": [
                {
                    "value": "one",
                    "label": "Style 1"
                },
                {
                    "value": "two",
                    "label": "Style 2"
                }
            ],
            "default": "one"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "select",
            "id": "lazy_loading",
            "label": "Image Lazyloading",
            "info": "If this image is the first and at the top of the page. Change to eager",
            "options": [
                {
                    "value": "lazy",
                    "label": "Lazy"
                },
                {
                    "value": "eager",
                    "label": "Eager"
                }
            ],
            "default": "lazy"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Landscape orientation (21:10 w:h). 1920 x 940px minimum recommended"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image",
            "info": "Landscape orientation (21:10 w:h). 1920 x 940px minimum recommended"
        },
        {
            "type": "range",
            "id": "image_x_position",
            "label": "Image X-axis Position",
            "min": 1,
            "max": 100,
            "default": 50,
            "unit": "%"
        },
        {
            "type": "range",
            "id": "image_y_position",
            "label": "Image Y-axis Position",
            "min": 1,
            "max": 100,
            "default": 50,
            "unit": "%"
        },
        {
            "id": "image_direction",
            "type": "select",
            "label": "Image Direction",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Post Content"
        }
    ]
}
{% endschema %}

{% style %}
    #shopify-section-{{ section.id }} {
        --row: {{ section.settings.spacing_mobile }}px;
        --row-desk: {{ section.settings.spacing_desktop }}px;
        --bg-colour: {{ section.settings.background_colour }};
    }
{% endstyle %}


{% render 'theme_assets', layout: 'section_post-content' %}
{% if section.settings.image != blank %}
<div class="o-container {% if section.settings.style == one %} style-one {% endif %} ">
    <div class="post-content {% if section.settings.image_direction == 'right' %} row-reserve{% endif %}">

        <div class="post-content__image">
            {%- render 'object_image' with section.settings.image,
                mobile_image: section.settings.mobile_image,
                mobile_ratio:'428/419'
                class: 'o-ar',
                img_class: "o-ar__item"
                width: "494",
                height: "392"
            -%}
        </div>
        
        <div class="post-content__content">
            {% if section.settings.content != blank %}
                {{ section.settings.content }}
            {% endif %}
        </div>
            
    </div>
</div>
{% endif %}

